<h1> Sign in </h1>

<%= content_tag(:div, flash[:error], :id => "flash_error", :class => "fields_with_errors") if flash[:error] %>
<br>

<%= form_for @user, url: url_for(controller: 'sessions', action: 'create') do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit "Log in" %>
<% end %>
