<h3>Welcome, <%= current_user.name %></h3>

<h3><%= link_to "See your shows", user_shows_path(current_user) %></h3>

<h4>Number of shows: <%= current_user.shows.size %></h4>

<h4>Number of characters across all shows: <%= current_user.characters.size %></h4>

<h4>Show with most characters: <%= show_with_most_characters; link_to @largest_show.name, user_show_path(@largest_show.user.id, @largest_show.id) %> (<%= @largest_show.characters.size%>)</h4>
<br>
