<%= form_for [:user, :show, character], path: edit_user_show_character_path do |f| %>
  <%= f.label "Character name" %>
  <%= f.text_field :name %>

  <br>

  <h3>Show:</h3> <%= f.collection_select(:show_id, Show.all, :id, :name, include_blank: true, prompt: "Select show character belongs to") %>

  <br><br>

  <%= f.label "deceased?" %>
  <%= f.check_box :deceased %>

  <br><br>

  <%= f.label "dislike?" %>
  <%= f.check_box :dislike %>

  <br><br>

  <%= f.text_area :note, value: character.note %> <br><br>

  <%= f.submit %>

<% end %>
