<% characters.each do |char| %>
  <h2> Name: <%= link_to char.name, user_show_character_path(current_user, char.show.id, char.id) %> </h2>
  <h3> Status: <%= char.status %> </h3>
  <h3> Classification: <%= char.hero? %> </h3>
  <h3 id="note-<%= char.id %>"> Notes: <%= char.note.truncate(30) %> </h3>
  <h3 id="quote-<%= char.id %>"> </h3>
  <button class="js-more" data-id="<%= char.id %>" data-sid="<%= char.show_id %>" data-uid="<%= char.user.id%>">More...</button>
  <br>
  <br>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on("click", function() {
      const id = $(this).data("id");
      const uid = $(this).data("uid");
      const sid = $(this).data("sid");
      const edit = `<a href="/users/${uid}/shows/${sid}/characters/${id}/edit">Add a Quote</a>`

      $.get(`/users/${uid}/shows/all/characters/${id}.json`, function(charData) {
        $(`#note-${id}`).html(`Note: ${charData["note"]}`);
        //display quote if exists, else render edit link
        charData["quote"] ? $(`#quote-${id}`).html(`Quote: ${charData["quote"]}`) : $(`#quote-${id}`).html(edit);
      });
    });
  });
</script>
