<a href="#" class="js-next" data-uid="<%=current_user.id%>" data-id="<%=@character.id%>">Next...</a>

<h1 class = "name"> <%= @character.name %> </h1>

<h2 class="show"> <%= link_to @character.show.name, user_show_path(current_user, @character.show) %> </h2>

<h3 class="hero"> <%= @character.hero? %> </h3>

<h3 class="status"> Status: <%= @character.status %> </h3>

<div class="note"> <%= @character.note %> </div>

<br>

<div class="quote"> <%= @character.quote %> </div>

<h3>
  <%= link_to "Edit #{@character.name}", edit_user_show_character_path(current_user, @character.show, @character) %>
  <br>
  <%= link_to "Delete #{@character.name}", user_show_character_path(current_user, @character.show, @character), method: :delete %>
  <br>
  <%= link_to "View all your characters", user_show_characters_path %>
</h3>

<script type="text/javascript" charset="utf-8"> //currently looks at ALL ids, including cross-show, and nil
$(function () {
  $(".js-next").on("click", function(event) {
    event.preventDefault();
    let uid = $(".js-next").attr("data-uid");
    let nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get(`/users/${uid}/shows/all/characters/${nextId}.json`, function(character) {
      $(".name").text(character.name); //dot notation wors fine for json objects
      $(".note").text(character.note);
      $(".quote").text(character.quote);
      $(".status").text(`Status: ${character.deceased ? "Deceased" : "Alive"}`)
      $(".hero").text(`${character.dislike ? "Villain" : "Hero"}`)
      // re-set the id to current on the link
      $(".js-next").attr("data-id", character["id"]);
    });
  });
});
</script>
