<h1> <%= @character.name %> </h1>

<h2> <%= @character.show.name %> </h2>

<h3> <%= @character.hero? %> </h3>

<h3> Status: <%= @character.status %> </h3>

<div> <%= @character.note %> </div>

<br>

  <%= link_to "Edit #{@character.name}", edit_user_show_character_path(@character) %>
