<a href="#" class="js-next" data-uid="<%=current_user.id%>" data-index= 0 data-array="<%= @character.char_array %>">Next Character...</a>

<h2 class="show"> <%= link_to @character.show.name, user_show_path(current_user, @character.show) %> </h2>

<h1 class="name"> <%= @character.name %> </h1>

<% if @character.species %>
  <h2 class="species"> Species: <%= @character.species %> </h2>
<% end %>

<h3 class="hero"> <%= @character.hero? %> </h3>

<h3 class="status"> Status: <%= @character.status %> </h3>

<div class="note"> <%= @character.note %> </div>

<br>

<em><div class="quote"><%= @character.quote %> </div></em>

<h3>
<div class="edit">
  <%= link_to "Edit #{@character.name}", edit_user_show_character_path(current_user, @character.show, @character) %>
</div>

<div class="delete">
  <%= link_to "Delete #{@character.name}", user_show_character_path(current_user, @character.show, @character), method: :delete %>
</div>

  <%= link_to "View all your characters", user_show_characters_path %>
</h3>
