<a href="#" class="js-next" data-uid="<%=current_user.id%>" data-index= 0 data-array="<%= @character.char_array %>">Next Character...</a>

<h1 class = "name"> <%= @character.name %> </h1>

<h2 class="show"> <%= link_to @character.show.name, user_show_path(current_user, @character.show) %> </h2>

<h3 class="hero"> <%= @character.hero? %> </h3>

<h3 class="status"> Status: <%= @character.status %> </h3>

<div class="note"> <%= @character.note %> </div>

<br>

<div class="quote"> <%= @character.quote %> </div>

<h3>
<div class="edit">
  <%= link_to "Edit #{@character.name}", edit_user_show_character_path(current_user, @character.show, @character) %>
</div>

<div class="delete">
  <%= link_to "Delete #{@character.name}", user_show_character_path(current_user, @character.show, @character), method: :delete %>
</div>

  <%= link_to "View all your characters", user_show_characters_path %>
</h3>

<script type="text/javascript" charset="utf-8"> //currently looks at ALL ids, including cross-show, and nil
  $(function () {
    $(".js-next").on("click", function(event) {
      event.preventDefault();
      let uid = $(".js-next").attr("data-uid");
          sid = $(".js-next").attr("data-sid");

          charIds = $(".js-next").data("array"); //index of character Ids from their shared show
          counter = $(".js-next").data("index"); //current index of the characters array
          nextId = charIds[counter];

      $.get(`/users/${uid}/shows/all/characters/${nextId}.json`, function(character) {

        $(".name").text(character.name);
        $(".note").text(character.note);
        $(".quote").text(character.quote ? character.quote : "");
        $(".status").text(`Status: ${character.deceased ? "Deceased" : "Alive"}`)
        $(".hero").text(`${character.dislike ? "Villain" : "Hero"}`)
        $(".show").html(`<a href="/users/${uid}/shows/${character.show.id}">${character.show.name}</a>`)
        $(".edit").html(`<a href="/users/${uid}/shows/${character.show.id}/characters/${character.id}/edit">Edit ${character.name}</a>`)
        $(".delete").html(`<a href="/users/${uid}/shows/${character.show.id}/characters/${character.id}">Delete ${character.name}</a>`)
        // reset the counter (data-index) to 0 if array end is reached, else increment
        counter === (charIds.length - 1) ? $(".js-next").data("index", 0) : $(".js-next").data("index", counter += 1);
      });
    });
  });
</script>
