<h1> <%= @character.name %> </h1>

<h2> <%= link_to @character.show.name, user_show_path(current_user, @character.show) %> </h2>

<h3> <%= @character.hero? %> </h3>

<h3> Status: <%= @character.status %> </h3>

<div> <%= @character.note %> </div>

<br>

<div> <%= @character.quote %> </div>

<h3>
  <%= link_to "Edit #{@character.name}", edit_user_show_character_path(current_user, @character.show, @character) %>
  <br>
  <%= link_to "Delete #{@character.name}", user_show_character_path(current_user, @character.show, @character), method: :delete %>
  <br>
  <%= link_to "View all your characters", user_show_characters_path %>
</h3>
