<%= form_for([:user, show]) do |f| %>

  <%= render partial: "errors", locals: { object: show } %>

  <h2><%= f.label "Show name" %>
  <%= f.text_field :name %></h2>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <h3> Characters </h3>

  <%= f.fields_for :characters do |char| %>
    <br>
    <fieldset>
    <legend>Character</legend>
    <%= char.label :name %>
    <%= char.text_field :name %>
    <br><br>
    <%= char.label :notes %>
    <%= char.text_area :note %>
    <br><br>
    <%= char.label "quote(s) " %>
    <%= char.text_field :quote %>
    <br><br>
    <%= char.label :deceased? %>
    <%= char.check_box :deceased %>
    <br><br>
    <%= char.label :dislike? %>
    <%= char.check_box :dislike %>
    <br>
    </fieldset>
   <% end %>
  <br>
  <%= f.label "Sci-Fi?" %>
  <%= f.check_box :sci_fi  %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
