<ul>

<h3><%= link_to "View all your characters", user_show_characters_path(current_user, "all") %></h3>
<h2><%= link_to "Add new show", new_user_show_path %></h2>

<h1>Your shows:</h1>

<% sort_by_name_length(@shows).reverse.each do |show| %>
  <h3 class="js-shows" data-uid="<%= show.user.id %>" data-sid="<%= show.id %>">
  <%= link_to show.name, user_show_path(show.user_id, show.id) %>
  </h3>
  <div id="chars-<%=show.id%>"></div>
<% end %>

<br>

<h3> Happiest Show: <%= happiest.try(:name) %> </h3>

</ul>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-shows").on("click", function(event) {
      const uid = $(this).data("uid");
      const sid = $(this).data("sid");
      const charDiv = $(`#chars-${sid}`)

      if (charDiv.html() === '') { //fire following and display info unless previously done

        event.preventDefault();
        charDiv.toggle(); //make invisible w/o writing CSS.

        $.get(`/users/${uid}/shows/${sid}.json`, function(showData) {
          showData.characters.forEach(function(character) {
            charDiv.append(`<ul><li>${character.name}</li></ul>`)
            charDiv.append(`<ul><em>${character.note}</em></ul><br>`)

            charDiv.fadeIn(750) //now fade in
          });
        });
      };
    });
  });
</script>
