<ul>
<br>

<% if logged_in? %>
  <h4> <%= link_to "View Shows", user_shows_path(current_user) %> </h4>
  <h4> <%= link_to "Add New Show", new_user_show_path(current_user) %> </h4>
  <h4> <%= link_to "Create New Character", new_user_show_character_path(current_user, "all") %> </h4>
  <h4> <%= link_to "View all Characters", user_show_characters_path(current_user, "all", @characters) %> </h4>
<% end %>

<% if logged_in? %>
  <center> <%= link_to (image_tag "happy-tv.jpg", id: "happy_tv", size: "640x620", title: "view your shows"), user_shows_path(current_user) %>
<% else %>
  <center> <%= image_tag "happy-tv.jpg", id: "happy_tv", size: "640x620" %>
<% end %>

</ul>
